/* CSS Document */
#abc{
	width:400px;
	height:400px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	
	background-color:black;
	overflow:hidden;
	position:relative;}
	img{
		width:200px;
		height:200px;
		transition:ease;
		position:absolute;
		z-index:99;}
		img:hover{
			transform:scale(2,2);
			opacity:0.2;}
			#overlay{
				position:absolute;
				top:20%;
				left:20%;
				color:white;
				font-size:24px;
				z-index:100;
				background-color:red;
				}